name: Main

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 8,20 * * *"

jobs:
  unit-tests:
    name: Unit tests
    uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
    with:
      linux_5_10_enabled: false
      linux_6_0_enabled: false
      linux_6_1_enabled: false
      linux_6_2_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -require-explicit-sendable"
      linux_nightly_next_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -require-explicit-sendable"
      linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -require-explicit-sendable"
      windows_6_0_enabled: false
      windows_6_1_enabled: false
      windows_nightly_6_1_enabled: false
      windows_nightly_main_enabled: false

  macos-tests:
    name: macOS tests
    uses: apple/swift-nio/.github/workflows/macos_tests.yml@main
    with:
      runner_pool: nightly
      build_scheme: HTTPAPIProposal-Package
      xcode_16_3_enabled: false
      xcode_16_4_enabled: false
      xcode_26_0_enabled: false
      xcode_26_1_enabled: false
      macos_xcode_build_enabled: false
      ios_xcode_build_enabled: false
      watchos_xcode_build_enabled: false
      tvos_xcode_build_enabled: false

  release-builds:
    name: Release builds
    uses: apple/swift-nio/.github/workflows/release_builds.yml@main
    with:
      linux_5_10_enabled: false
      linux_6_0_enabled: false
      linux_6_1_enabled: false
      windows_6_0_enabled: false
      windows_6_1_enabled: false
      windows_nightly_next_enabled: false
      windows_nightly_main_enabled: false
